body{
    width: 100%;
    margin:auto;
    font-family:  'Roboto', sans-serif;
    font-weight:100;
    
    
}

#bloc_page{
    display: flex;
}





#imageRadius{
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 50px;
   
    
}

#imageCv{
   
    height: 200px;


}
hr{
    height: 1.5px;
    background-color:rgb(131, 153, 91);
}

    
    

#colonne_gauche{
    background-color:rgb(132, 147, 160);
    margin-right: 5rem;
    width: 350px;
}
#nameColor{
    color:rgb(216, 151, 30);
    font-size: 3rem;
   
   
}
#barreSep{
    position: absolute;
    top:26%;
    max-height: 2px;
   
}
#traitCouleur{
    width: 73px;
    color: rgb(173, 163, 44);
    right: 0;
    position: relative;
    margin: 0;
    
}
h1{
    font-size: 3rem;
    margin-bottom: 0px;
}



h2{

font-size: 1.5rem;
margin-top: 0;
margin-bottom: 0;
}


#contact, #aPropos, #loisirs{
    font-size: 20px ;
    color:rgb(158, 147, 46);
    background-color: black;
    text-align: center;
    height: 28px;
    padding-top:5px;
    
   
}

.dates{

    margin-top:20px;
    margin-bottom : 20px;
    min-width: 150px;
}
.nono{
    margin-top:20px;
    margin-bottom : 20px;
    max-width: 500px;
    margin-left:100px;
}

.texte_sous_date{

    margin-left:25px;
}

#titre_expe, #titre_recom {

    margin-top:20px;
}


header{
    margin-top: 100px;
}



h3{
    padding-top:10px;
    margin-top:70px;
    font-size: 1.8rem;
    margin-bottom: 2px;
}
.fas, .far{
    
    color:rgb(109, 107, 13);
    margin-right: 10px;
    
}
 #point, #point2{

    font-size: 10px;
    
}
 
#p_gauche{
    height: 200px;
}

#diplomes{

    margin-left: 50px;
    max-width: 500px;
}


#forma1, #format2, #format3, #format4{

    display: flex;
}

#expe1, #expe2, #expe3{
    
    
    display: flex;
}


.p_forma {

    margin-top: 50px;
    margin-bottom: 80px;
}

.p_forma2 {

    margin-top: 100px;
}

.p_forma4 {

    margin-top:70px;

}

.p_forma6{

    margin-top:80px;
}

.p_forma7{

    margin-top:130px;
}



a{
    font-weight: bold;
    text-decoration: none;
    color: black;
}




.p_colonne_gauche{

    margin-left: 20px;
    margin-bottom: 40px;
    font-weight: bold;
}


#paragraphe_apropos{

    text-align: justify;
    margin:40px;
    height: 500px;
   
}



#run1{
    font-size: 3.5em;
    color: black;
    position: absolute;
    left: 13%;
    top:10%;
    
    
}

#run2, #run3{

    font-size: 3em;
    color:black;
    position: absolute;
    top:10%;
    left:8%;
}
#logo{

    display: flex;
    justify-content: space-around;
    margin-top:40px;
    min-height: 100px;
   
}
#circle1, #circle2, #circle3{

    width: 68px;
    height: 68px;
    border-radius: 50px;
    color:black;
    border:1.5px solid ;
    position: relative;
}

@media all and (max-width: 900px)
{
  #bloc_page{
      flex-direction: column;
      margin: auto;
      
  }
  header
  {
      margin: auto;
      display: flex;
      flex-direction: column;
      
      
      
  }

  #colonne_droite{

    margin-right: 10px;
    margin-left:10px;
}
  #barreSep{

    display: none;
  }

  h1, h2 {
      text-align: center;
      
  }

  h3{
    
    
    text-align: center;
    margin-top: 30px;
  }
  #colonne_gauche

    
	{
        order: 2;
        width: 100%;
       
		
	}
  }
    
  @media all and (min-width:350px) and (max-width: 576px)
  {
    #bloc_page
    {   margin: auto;
        font-size: 18px;
    }
    h1, h2
		{
			margin-left: 0;
        }
        #forma1, #format2, #format3, #format4{
            flex-direction: column;
        }
        #expe1, #expe2, #expe3{
            flex-direction: column;
        }
        #colonne_gauche{
            width: 100%;
            height: 100%;
            margin: auto;
        }

        #colonne_droite{

            margin-right: 10px;
            margin-left:10px;
        }
        #paragraphe_apropos{
    max-height: 300px;
        }

        #run1 {
            font-size: 2.8em;
        }

        #run2, #run3{
            font-size: 2.5em;
        }

        .nono{
            margin-left: 25px;
        }

        .dates{
            color: blueviolet;
        }
  }